<footer class="fixed-bottom pt-2">

    <div class="row justify-content-between mx-md-5">
      <p class="d-inline-block">Testaufgabe</p>
      <p class="d-inline-block">© 2021 Ella Katajisto</p>
    </div>
  
  </footer>